@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <h2> Please keep safe your working place and don't provide any security information to other</h2>
    </div>
