@model CourseProject4.Models.Patient
@{
    ViewData["Title"] = "Create";
    
}

<h1>Create</h1>

<h3>Patient Entry</h3>
<hr />

<div class="row">
    <div class="col-md-4">

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <select asp-for="Gender" class="form-control">
                    <option value="">--Select gender--</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Insurance" class="control-label"></label>
                <select asp-for="Insurance" class="form-control">
                <option value="">--Have Insurance--</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
                </select>
                <span asp-validation-for="Insurance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="Diagnosis" class="control-label">
                   <option value="">--Select Diagnosis--</option>
                   <option value="Diabetes">Diabetes</option>
                   <option value="Heart Disease">Heart Disease</option>
                   <option value="Blood Disease">Blood Disease</option>
                   <option value="Skin Disease">Skin Disease</option>
                </select>
                <span asp-validation-for="Diagnosis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doctor" class="control-label"></label>
                <input asp-for="Doctor" class="form-control" />
                <span asp-validation-for="Doctor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdmitDate" class="control-label"></label>
                <input asp-for="AdmitDate" class="form-control" />
                <span asp-validation-for="AdmitDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DischargeDate" class="control-label"></label>
                <input asp-for="DischargeDate" class="form-control" />
                <span asp-validation-for="DischargeDate" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
<a asp-action="Index">Back to List</a>
</div>

@section Scripts{ 
@{ 
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}