
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3><b>Contacts: </b></h3>
<p>In case of emergency please contact you manager or SA</p>
<p>
    Thank you for your cooperation!
</p>